
/backend/dist
/backend/node_modules
/backend/
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.next

/frontend/coverage

/frontend/.next/
/frontend/out/

/frontend/build

frontend/.DS_Store
frontend/*.pem

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.env*.local

frontend/.vercel

frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/.eslintrc.json

backend/.eslintrc.json

.env
/node_modules
/dist

